.headerWrapper {
  display: flex;
  gap: 3px;
}

.todoInput {
  width: 400px;
  height: 45px;
  color: #ffffff;
  letter-spacing: 1px;
  border-radius: 5px;
  font-family: Quintessential;
  background: rgb(39, 43, 50, 0.7);
  border: 2px solid #ab926b;
  transition: 0.5s ease;
  font-size: 16px;
}

.todoInput::placeholder {
  color: rgb(250, 250, 250);
  transition: color 0.2s ease;
  opacity: 0.5;
  letter-spacing: 2px;
}
.todoInput:focus {
  background-color: rgb(171, 146, 107, 0.5);
  border: 2px solid #ab926b;
  color: white;
  outline: none;
  transform: scale(1.01);
}
.todoInput:focus::placeholder {
  color: transparent;
}
.headerButtons img {
  width: 47px;
  height: 47px;
  cursor: url(../assets/cursor-pointer.png) 10 10, pointer;
}

.headerButtons {
  width: 47px;
  height: 47px;
  border: none;
  outline: none;
  transition: 0.2s ease;
}

.headerButtons:hover {
  transform: scale(1.1);
}
