* {
  margin: 0;
  padding: 0;
  cursor: url(./TodoApp/assets/cursor-default.png) 10 10, auto;
  background-image: url(./TodoApp/assets/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: Merriweather, sans-serif;
}

.addTaskTooltip.addTaskTooltip,
.toggleAllTooltip.toggleAllTooltip,
.deleteAllCompletedToolTip.deleteAllCompletedToolTip {
  color: #ab926b;
  background-color: rgb(39, 43, 50);
}
