* {
  margin: 0;
  padding: 0;
  cursor: url(./TodoApp/assets/cursor-default.png), auto;
  background-image: url(./TodoApp/assets/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  font-family: Merriweather;
}

/* Merriweather */
